body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  margin-top: 100px;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex-basis: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.fotito {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 15px;
  color: #555;
}

.input-cantidad {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.btn-agregar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-agregar:hover {
  background-color: #0056b3;
}

.resultado-container {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.mensaje-sesion {
  background-color: #f9f9f9;
  /* Color de fondo suave */
  border: 1px solid #ccc;
  /* Borde gris */
  border-radius: 8px;
  /* Bordes redondeados */
  padding: 20px;
  /* Espaciado interno */
  text-align: center;
  /* Centrar texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra */
  margin: 20px auto;
  /* Margen automático */
  max-width: 400px;
  /* Ancho máximo */
}

.mensaje-sesion h2 {
  color: #333;
  /* Color del título */
  margin-bottom: 15px;
  /* Espacio debajo del título */
}

.mensaje-sesion p {
  color: #666;
  /* Color del texto */
  margin-bottom: 20px;
  /* Espacio debajo del texto */
}

.boton-iniciar,
.boton-crear {
  background-color: #007bff;
  /* Color de fondo del botón */
  color: white;
  /* Color del texto */
  padding: 10px 15px;
  /* Espaciado interno */
  border: none;
  /* Sin borde */
  border-radius: 5px;
  /* Bordes redondeados */
  text-decoration: none;
  /* Sin subrayado */
  margin: 5px;
  /* Margen entre botones */
  transition: background-color 0.3s;
  /* Transición suave */
  display: inline-block;
  /* Mostrar como bloque en línea */
}

.boton-iniciar:hover,
.boton-crear:hover {
  background-color: #0056b3;
  /* Color de fondo al pasar el mouse */
}
